/**
 * @name Serverboss Fancy Relay
 * @author AngelaIdot
 * @description /ex give
 * @version 1.16.5 (1.0.2)
*/

@font-face {
	font-family: 'minecraptwo';
    font-smooth: never;
    -webkit-font-smoothing : none;
    -moz-osx-font-smoothing: grayscale;
	src: url("https://raw.githubusercontent.com/AndrewIdot/chhcss/refs/heads/main/fnt/minecraptwo.ttf") format('truetype');
}

li[data-author-id="1277313985967820840"] .groupStart__5126c {
	all: revert;
}

li[data-author-id="1277313985967820840"] .groupStart__5126c {
	position: relative;
    left: 72px;
}

li[data-author-id="1277313985967820840"] .messageContent_c19a55 {
    color: white;
    font-family: "minecraptwo";
    font-size: 16px;
    text-shadow: 1px 1px 2px #7F7F7F;
    & strong {
        color: yellow;
        text-shadow: 1px 1px 2px #7F7F00;
    }
}

li[data-author-id="1277313985967820840"] .header_c19a55,
li[data-author-id="1277313985967820840"] .avatar_c19a55 {
    display: none;
}

li[data-author-id="1277313985967820840"] .timestampVisibleOnHover_c19a55 span {
    color:white;
    position: relative;
    left: -22px;
}

li[data-author-id="1277313985967820840"] .timestampVisibleOnHover_c19a55 {
    opacity: 1;
}

li[data-author-id="1277313985967820840"] .messageContent_c19a55,
li[data-author-id="1277313985967820840"] .header_c19a55,
li[data-author-id="1277313985967820840"] .visualMediaItemContainer_f4758a,
li[data-author-id="1277313985967820840"] .markup__75297,
li[data-author-id="1277313985967820840"] .inlineMediaEmbed__623d,
li[data-author-id="1277313985967820840"] .nonVisualMediaItemContainer_f4758a,
li[data-author-id="1277313985967820840"] .guildInviteContainer__083ae {
    position: relative;
    left: -30px;
}